.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 10%;
  height: 100vh;
}

.header_h {
  margin-top: 4rem;
  text-align: left;
  padding-top: 2rem;
  padding-left: 6.2rem;
  color: var(--almost-black);
}

.table-wrapper {
  flex-grow: 1;
  margin-top: 1rem;
  border: 1px solid var(--background-color);
  border-radius: 0.25rem;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0 6rem;
  max-height: 60vh;
  max-height: calc(100vh - 12rem);
}

.table-wrapper table {
  border-collapse: collapse;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 0.3rem solid var(--sidebar-background-color);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th {
  font-weight: normal;
  border-right: 1px solid var(--border-color);
}

.table-wrapper th,
td {
  padding: 12px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--almost-black);
}

.table-wrapper tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--sidebar-background-color);
  z-index: 1;
}

.table-wrapper::-webkit-scrollbar {
  width: 30px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--grayBorder);
  border-radius: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: var(--background-color);
}
.btn-create {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  height: 2.9rem;
  width: 13rem;
  background-color: var(--button-color1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--title-color);
  margin-left: 6.1rem;
  display: flex;
  align-items: center;
}
.btn-create-large:hover {
  background-color: var(--button-color);
}

.gearIcon {
  width: 30px;
  height: 25px;
  fill: var(--secondarycolor);
  margin-top: 12px;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.gear-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--title-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 1rem;
}

.dropdown-options {
  display: flex;
  flex-direction: column;
}

.dropdown-button {
  background: none;
  border: none;
  padding: 6px 8px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  color: var(--almost-black);
}

.dropdown-button:hover {
  background-color: var(--sidebar-background-color);
  color: var(--secondarycolor);
}
.dropdown-button Link {
  background-color: var(--sidebar-background-color);
}

.dropdown-button:not(:last-child) {
  border-bottom: 1px solid var(--sidebar-background-color);
}

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
  .table-wrapper {
    margin: 2rem auto 20px auto; /* Center the table-wrapper horizontally */
    padding: 0 1rem; /* Reduce padding to fit better on smaller screens */
  }

  .header_h {
    text-align: center; /* Center the header text */
    padding-left: 0; /* Remove left padding */
  }
}
