.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 10%;
}

.header_h {
  margin-top: 4rem;
  text-align: left;
  padding-top: 2rem;
  padding-left: 6.2rem;
  color: var(--almost-black);
}

.table-wrapper {
  margin-top: 1rem;
  border: 1px solid var(--background-color);
  border-radius: 0.25rem;
  overflow-y: auto; /* Allow vertical scrolling */
  margin-bottom: 20px;
  padding: 0 6rem;
  max-height: 60vh;
}

.table-wrapper table {
  border-collapse: collapse;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 0.3rem solid var(--sidebar-background-color);
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper th {
  font-weight: normal;
  border-right: 1px solid var(--border-color);
}

.table-wrapper th,
td {
  padding: 8px; /* Adjust padding for better fit */
  text-align: left;
  border-bottom: 1px solid var(--almost-black);
}

.table-wrapper tbody tr:hover {
  background-color: #f5f5f5;
}

tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--sidebar-background-color);
  z-index: 1; /* Ensure the header stays at the top when scrolling */
}

/* New additions to ensure the scrollbar appears at the end of the table */
.table-wrapper::-webkit-scrollbar {
  width: 30px; /* Set width of the scrollbar */
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--grayBorder); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Round the scrollbar thumb */
}

.table-wrapper::-webkit-scrollbar-track {
  background: var(--background-color); /* Color of the scrollbar track */
}
.btn-create {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  height: 2.8rem;
  width: auto;
  background-color: var(--button-color1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--title-color);
  margin-left: 6.1rem;
  display: flex;
  align-items: center;
}
.btn-create-large:hover {
  background-color: var(--button-color);
}

/* Media query for screens smaller than 1200px */
@media (max-width: 1200px) {
  .table-wrapper {
    margin: 2rem auto 20px auto; /* Center the table-wrapper horizontally */
    padding: 0 1rem; /* Reduce padding to fit better on smaller screens */
  }

  .header_h {
    text-align: center; /* Center the header text */
    padding-left: 0; /* Remove left padding */
  }
}
