.container {
  display: relative;
}

.header_title {
  font-family: 'PMNCaeciliaSansHeadLight', sans-serif;
  text-align: left;
}

h2 {
  color: var(--almost-black);
}

.table_container {
  border: 1px solid var(--title-color);
  border-radius: 4px;
  overflow-x: auto;
  margin: 20px auto; /* Center the tables container */
  width: 60%;
  overflow-y: scroll;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
tr {
  border: 1px solid var(--sidebar-background-color);
}
th,
td {
  padding: 5px;
  text-align: left;
}
