.btn {
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.blue-btn {
  background-color: var(--secondary-color);
  color: white;
}
.blue-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}
.yellow-btn {
  background-color: var(--button-color);
  color: white;
}
.yellow-btn:hover {
  background-color: var(--button-color1);
}
