@font-face {
  font-family: 'PMNCaeciliaSansHeadLight';
  src: url('./items/Fonts/pmncaeciliasans-head-cufonfonts/PMNCaeciliaSansHeadLight.TTF')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PMNCaeciliaSansHeadLight', sans-serif;
}

.title {
  position: relative;
  padding: 16px;
  color: var(--title-color);
  font-size: 50px;
  font-weight: 100;
  overflow: hidden;
  background-color: var(--primarycolor);
}

.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: var(--primarycolor);
  z-index: 1;
  transition: all 0.3s ease;
}

.title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 75%;
  background-color: var(--title-color);
  z-index: 0;
  transition: all 0.3s ease;
}

.title h1 {
  text-align: left;
  margin-left: 80px;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 100;
  color: var(--title-color);
  /* Ensure h1 stays on top */
  position: relative;
  z-index: 2;
}

@media (max-width: 820px) {
  .title {
    font-size: 30px;
    padding: 12px;
  }

  .title::before {
    display: none;
  }

  .title::after {
    left: 0;
    width: 100%;
  }

  .title h1 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 30px;
    text-align: left;
  }
}

@media (max-width: 414px) {
  .title {
    font-size: 20px;
    padding: 8px;
  }

  .title h1 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 15px;
    padding: 4px;
  }

  .title h1 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
  }
}
