.start {
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 150px;
  padding-top: 140px;
}

.start h1 {
  color: var(--black-color);
  text-align: left;
  margin-left: 150px;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}

/* Responsive styles */
@media (max-width: 800px) {
  .start {
    display: flex;
    align-items: center;
    position: flex;

    padding-top: 30px;
  }
}
