.new-cert-form {
  margin: 0 auto;
  margin-top: 140px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--sidebar-background-color);
  border-radius: 10px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.left-side,
.right-side {
  width: 49%;
}

.form-input-container {
  margin-bottom: 20px;
}

.form-input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: medium;
  font-style: italic;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.form-input-multiple {
  display: flex;
  border: thin solid var(--border-color);
}

.form-input-multiple div {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--title-color);
}

.input-icon {
  cursor: pointer;
}

.form-input-select {
  appearance: none;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.5 4.5a.5.5 0 0 1 .7-.7L8 9.793 13.8 3.8a.5.5 0 0 1 .7.7l-6 6a.5.5 0 0 1-.7 0l-6-6z"/></svg>'); /* Adds custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 16px 16px;
}

.right-side {
  margin-left: 80px;
}

.upload-btn {
  padding: 9px 50px;
  background-color: #6698ce;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.upload-btn:hover {
  background-color: var(--light-blue);
}

.upload-input {
  display: none;
}

.file-preview-panel {
  width: 100%;
  height: 500px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.file-preview-panel iframe {
  display: flex;
  width: 100%;
  height: 500px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submit-cert-btn {
  padding: 10px 50px;
  background-color: var(--button-color);
  color: var(--background-color);
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.submit-cert-btn:hover {
  background-color: var(--button-color);
}

.reset-cert-btn {
  padding: 10px 50px;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
