@font-face {
  font-family: 'PMNCaeciliaSansHead';
  src: url('./items/Fonts/pmncaeciliasans-head-cufonfonts/PMNCaeciliaSansHeadBd.TTF')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 'PMNCaeciliaSansHead';
}

.sidebar {
  background-color: var(--sidebar-background-color);
  padding: 5px;
  padding-top: 40px;
  width: 25%;
  height: 100vh;
  position: fixed;
}
.sidebar-start {
  display: flex;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}

.sidebar-start::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 80%;
  background-color: var(--primarycolor);
  z-index: -1;
}

.home-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-left: 10px;
  fill: var(--secondarycolor);
}
.angledown-icon {
  width: 30px;
  height: 25px;
  margin-right: 8px;
  margin-left: 10px;
  fill: var(--secondarycolor);
}

.sidebar-start span {
  font-size: 20px;
  color: var(--primarycolor);
  text-decoration: none;
}

.sidebar-menu {
  display: flex;
  padding: 5px 0;
  margin-left: 20px;
  cursor: pointer;
}

.menu-icon {
  fill: var(--secondary-color);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sidebar-menu span {
  font-size: 15px;
  color: var(--secondary-color);
}

.sidebar-menu .submenu {
  display: none;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: var(--secondary-color);
}

.sidebar-menu.show .submenu {
  display: flex;
}
