.supplier-container {
  border: 1px solid var(--border-color);
  border-radius: 0.5px;
  background-color: var(--background-color);
  box-shadow: 0 0 1.25rem var(--shadow);
  margin: 0 auto;
  margin-top: 12rem;
  padding: 20px;
  width: 100%;
  max-width: 62rem;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--supplierlookupcolor);
  border-bottom: 1px solid var(--border-color);
}
.input-label {
  font-style: italic;
  font-size: 0.8rem;
}
.top-bar-title {
  margin: 0;
  font-size: 0.8rem;
}
.search-supplier-inputs-container {
  padding: 10px;
  border: thin solid var(--border-color);
}

.top-bar-title-container {
  margin-bottom: 10px;
  background-color: var(--primarycolor);
  color: var(--title-color);
  padding: 10px;
}

.form-inputs {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 100%;
}

/* Supplier List */
.suppliers-results-container {
  padding: 10px;
  border: thin solid var(--border-color);
}

.suppliers-results-container table {
  width: 100%;
  border-collapse: collapse;
}

.suppliers-results-container th,
.suppliers-results-container td {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: left;
}

.suppliers-results-container th {
  background-color: var(--background-color);
}
.inputs-container-supplier {
  display: flex;
}
.input-container {
  margin-right: 2rem;
  height: 4rem;
}

.neutral-btn {
  border: thin solid var(--border-color);
  background-color: var(--sidebar-background-color);
}
.suppliers-results-container .buttons-container {
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
.suppliers-results-container .buttons-container button {
  display: inline-block;
}
