@font-face {
  font-family: 'PMNCaeciliaSansHeadLight';
  src: url('./items/Fonts/pmncaeciliasans-head-cufonfonts/PMNCaeciliaSansHeadLight.TTF')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'PMNCaeciliaSansHeadLight', sans-serif;
}

.title {
  background: linear-gradient(
    to right,
    var(--primarycolor) 0%,
    var(--primarycolor) 25%,
    var(--title-color) 25%,
    var(--title-color) 100%
  );
  color: var(--title-color);
  font-size: 50px;
  padding: 16px;
  text-align: left;
  font-weight: 100; /* Lighter weight */
}

.title h1 {
  text-align: left;
  margin-left: 70px;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 100; /* Lighter weight */
  color: var(--title-color);
}
