@font-face {
  font-family: "PMNCaeciliaSansHead";
  src: url("./styles/items/Fonts/pmncaeciliasans-head-cufonfonts/PMNCaeciliaSansHeadBd.TTF")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primarycolor: #3f9ac9;
  --secondary-color: #265c79;
  --text-color: #333333;
  --background-color: #f0f0f0;
  --title-color: white;
  --sidebar-background-color: #d6dde5;
  --black-color: black;
  --border-color: #ccc;
  --button-color: #a8c020;
  --button-color1: #8cb52b;
  --light-blue: #007bff;
  --shadow: #0000001a;
  --supplierlookupcolor: #e0eaf1;
  --alert-error-color: #a82d2d;
  --warning-color: #ffa500;
}

html,
body {
  font-family: "PMNCaeciliaSansHead", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1,
h2 {
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.app {
  display: flex;
  flex-direction: column;
}

.middle {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}
